{% extends 'base.html' %}

{% block body %}

<div class="container" style="margin-top: 50px;">
    <div class="row">
    <div class="col-md-4 mb-5">
    <div class="card" style="width: 18rem;">
       
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.category }} <br>
          <small>Stock: {{ item.stock }}</small></p>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            
            {% if not update %}
            <input type="submit" class="btn btn-primary" value="Add to Cart">
            {% else %}
            <input type="submit" class="btn btn-primary" value="Update">
            {% endif %}
        </form>
          
        </div>
      </div>
        
      </div>
    </div>

    


{% endblock %}